@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(0, 0, 0, 0.3);
    background-image: url('https://c.wallhere.com/photos/87/e0/cats_couple_face_glare-658772.jpg!d');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
}

.container {
    margin-top: 200px;
}

.heart {
    width: 300px;
    height: 300px;
    position: relative;
    transform: rotate(-135deg);
    margin: 100px auto;
    animation: pulse 1s infinite alternate;
}

.square {
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: #cd0a0a;
    /* transform: translate(-50%, -50%); */
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 350px;
    position: absolute;
    background-color: #cd0a0a;
    /* transform: translate(-50%, -50%); */
}

.top {
    top: 50%;
}

.left {
    left: 50%;
}

span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    font-size: 120px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    /*-webkit-text-stroke-width: 3px; */
    -webkit-text-stroke-color: white;
    text-shadow: 8px 8px #ffcd3c, 20px 20px #000000;
    text-align: center;
    opacity: 0;
    transition: all 2.5s ease-in;
}

.phrase-animation {
    left: 50%;
    opacity: 1;
}

@keyframes pulse {
    0% {
        transform: scale(0.9) rotate(-135deg);
    }
    100% {
        transform: scale(1.1) rotate(-135deg);
    }
}